.skills {
    display: flex;
    flex-direction: column;
}

.skills h3 {
    margin-bottom: 1rem;
}

.skills .tools, .skills .personal {
    margin-left: 1rem;
}

.skills .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills .tools ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: .75rem;
}

.skills .tools ul li img:first-of-type{
    margin-left: 0;
}

.skills .personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills .personal ul li {
    margin-right: 1rem;
    padding: .5rem 0;
}

.skills .personal ul li:not(:first-of-type)::before {
    content: ' | ';
    margin-right: .5rem;
}

@media screen and (min-width: 768px) {
    .skills {
        flex-direction: row;
    }
}